.Main {
  width: 100vw;
  height: 100vh;
  transform: translateY(12.5%);
  padding-left: 30px;
  padding-right: 30px;
}

.img {
  position: absolute;
  height: max-content;
  right: 40px;
}

.Flex {
  display: flex;
  justify-content: center space-between;
  align-items: center;
  height: 105vh;
  width: 100vw;
  overflow: hidden;
}

.Flex-item {
  position: relative;
  display: inline;
  width: 100%;
  height: 100%;
  color: #fff;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-top: 10%;
}

.sub-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;

  margin-top: 60px;
  width: 75%;
  margin-bottom: 100px;
}

.btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  background: #fff;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 35%;
  cursor: pointer;
}

.logoInterp {
  opacity: 2%;
  width: 65%;
  margin-left: -70px;
  display: block;
}

.Logo-Interp-p {
  position: absolute;
  width: 100vw;
}

#logo2 {
  float: right;
  margin-right: -70px;
}

.Logo-Interp-Bar {
  position: absolute;
  background: #3c1b1b;
  margin-left: -30px;
  width: 100vw;
  height: 70px;
  margin-top: 70px;
}

.Titre-presentation {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #fff;
  margin-top: 25%;
}

.text-presentaion {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;

  color: #fff;
}

#img1 {
  margin-right: 40px;
}

#Flex2 {
  height: 80vh;
  margin-top: 15%;
}

.container {
  background-color: #3c1b1b;
  width: 100vw;
  height: fit-content;
  margin-left: -30px;
  display: flex;
}

#imgC2 {
  margin-left: -65px;
}

.img-container {
  width: 60%;
  height: 100%;
  padding-bottom: 20px;
  display: inline-block;
}

.img-container img {
  width: 33.3%;
}

.text-container {
  width: 40%;
  height: 100%;
  display: inline-block;
  padding-right: 40px;
  margin-top: 12.5%;
}

.Titre-presentation-d {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.03em;
  text-align: right;
  color: #fff;
}

.text-presentaion-d {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 50px;

  color: #fff;
}

.btn-d {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  background: #fff;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 50%;
  cursor: pointer;
  float: right;
}

.logoInterp2 {
  position: absolute;
  opacity: 2%;
  width: 65%;
  margin-left: -70px;
  margin-top: -8%;
  z-index: -1;
}

.container-tshirt {
  padding-top: 10%;
}

.text-container-tshirt h2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #fff;
}

.text-container-tshirt p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 50px;

  color: #fff;
}

.tshirts-card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.tshirts-card {
  width: 30%;
  padding: 1%;
  height: 100%;
}

.tshirts-card img {
  width: 100%;
  height: 100%;
}
